<div class="container head-container px-0 text-center fixed-top">
  <div class="h-100 align-items-center justify-content-around d-flex text-white">
    <%= link_to "Back", root_path, class:"text-white"%>
    <h2>Edit <%= resource_name.to_s.humanize %></h2>
    <i class="fas fa-search fa-lg"></i>
  </div>
</div>

<div class="container content-container">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="field pt-3">
      <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "name", class:"form-control" %><br>
    </div>

    <div class="field">
      <%= f.email_field :email, autocomplete: "email", placeholder: "email", class:"form-control" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>
    <br>
    <div class="field">
      <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
      <%= f.password_field :password, autocomplete: "new-password", placeholder: "password", class:"form-control" %>
      <% if @minimum_password_length %>
        <em><%= @minimum_password_length %> characters minimum</em>
      <% end %>
    </div>
    <br />
    <div class="field">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "password confirmation", class:"form-control" %>
    </div>

    <div class="field">
      <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
      <%= f.password_field :current_password, autocomplete: "current-password", placeholder: "current password", class:"form-control" %>
    </div>
    <br>
    <div class="field">
      Update profile picture
      <%= f.file_field :avatar %>
    </div>
    <br>
    <div class="actions">
      <%= f.submit "Update", class: "btn button btn-success" %>
    </div>
  <% end %>
  <br>
  <div class="pb-2 text-center">
    <h4>Cancel my account</h4>
    <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
  </div>
</div>