<h1>Groups</h1>

<table>
  <thead>
    <tr>
      <th>Icon</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td><%= image_tag(group.icon, :size => "120x120") %></td>
        <td><%= group.name %></td>
        <td><%= group.created_at.strftime("%d %B %Y") %></td>
        <td><%= link_to 'Show', group %></td>
        <% if group.user == current_user %>
          <td><%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add Group', new_group_path %><br>
<%= link_to 'Back', main_path %>
