<p id="notice"><%= notice %></p>

<% @clocks.each do |clock|%>
  Group Icon: <%= @group.icon %><br>
  Task name: <%= clock.name %><br>
  Group name: <%= @group.name %><br>
  Created by: <%= clock.user.name%><br>
  <%= clock.created_at.strftime('%d %B %Y')%><br>
  Hours: <%= clock.hour %>
  <br><br>
<% end %>
<p>


<% if @group.user == current_user %>
  <%= link_to 'Edit', edit_group_path(@group) %> |
<% end %>
<%= link_to 'Back', groups_path %>
