<p id="notice"><%= notice %></p>



<div>
  <ul>
      <% if current_user.avatar.attached? %>
        <%= image_tag(current_user.avatar, :size => "120x150") %>
      <% end %>
    <h3><%= current_user.name%></h3>
    <li><%= link_to 'Account Setting', edit_user_registration_path %></li>
    <li><%= link_to 'My Hours', clocks_path %></li>
    <li><%= link_to 'Non Categorised Hours', ehour_path %></li>
    <li><%= link_to 'Groups', groups_path %></li>
  </ul>
</div>

<%= link_to 'Sign out', destroy_user_session_path, method: :delete %>