<h1><%= current_user.email%></h1>

<div>
  <ul>
    <li><%= link_to 'Transactions', clocks_path %></li>
    <li><%= link_to 'Non Categorised Transaction', '#' %></li>
    <li><%= link_to 'Groups', groups_path %></li>
    <li><%= link_to 'Members', '#' %></li>
  </ul>
</div>

<%= link_to 'Sign out', destroy_user_session_path, method: :delete %>