<div class="container content-container pt-3">
  <%= form_with(model: clock, local: true) do |form| %>
    <% if clock.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(clock.errors.count, "error") %> prohibited this clock from being saved:</h2>

        <ul>
          <% clock.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= form.label :name %>
      <%= form.text_field :name, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :hour %>
      <%= form.number_field :hour, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :group_id %><br>
      <%= form.collection_select :group_id, Group.order(:name), :id, :name, {include_blank: true}, {class: "form-control"} %>
    </div>
    
    <div class="actions">
      <%= form.submit "New/Update", class: "btn button btn-success btn-block" %>
    </div>
  <% end %>
</div>