<p id="notice"><%= notice %></p>

<h1>Clocks</h1>

<table>
  <thead>
    <tr>
      <th>Group</th>
      <th>Name</th>
      <th colspan="1"></th>
      <th>Hour</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clocks.each do |clock| %>
      <tr>
        <td><%= image_tag(clock.group.icon, :size => "100x100") %></td>
        <td><%= clock.name %></td>
        <td><%= clock.created_at.strftime("%d %B %Y") %></td>
        <td><%= clock.hour %></td>
        <td><%= link_to 'Edit', edit_clock_path(clock) %></td>
        <td><%= link_to 'Destroy', clock, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add new', new_clock_path %><br>
<%= link_to 'Back', main_path %>
